# Rename this file to .env before running the server
# Get your free API key at: https://home.openweathermap.org/users/sign_up

# Your OpenWeatherMap API key
OPENWEATHER_API_KEY=
# 45bc986fd33f4b6ca0455eb1c5ff2e8e


# Port the Express server will run on
PORT=5000

# Base URL for OpenWeatherMap API (do not change unless needed)
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5
